@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');


:root {
    --accent: #00e0d0;
    --dark-text: #413d4b;
    --border: #ebebeb;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.cursor-pointer {
    cursor: pointer;
}

.hr {
    margin-top: 18px;
    margin-bottom: 50px;
    border: 0;
    width: 50px;
}

.bg {
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.desktop-icon {
    width: 49px; height: 50px;
    background: url('../img/css_sprites.png') -200px -65px;
    transform: scale(1.3);
}

.sour-icon {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -80px -185px;
    transform: scale(1.3);
}

.phone-icon {
    width: 28px; height: 50px;
    background: url('../img/css_sprites.png') -281px -80px;
    transform: scale(1.3);
}

.diagrams-icon {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -130px -65px;
    transform: scale(1.3);
}

.game-icon {
    width: 41px; height: 50px;
    background: url('../img/css_sprites.png') -281px -10px;
    transform: scale(1.3);
}

.heart-icon {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -10px -185px;
    transform: scale(1.3);
}

.button {
    font-family: 'Hammersmith One', sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
    padding: 10px 20px;
    font-size: 14pt;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button--active:hover {
    color: white;
    background-color: var(--accent);
}

.inserts {
    padding: 70px 0;
}

@media (max-width: 992px) {
    .inserts {
        padding: 40px 0;
    }
}

.heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 22pt;
}

.header {
    background-image: url("../img/bg-header.png");
}

.header__navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.header__navbar-logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 14px;
    font-size: 30pt;
    background: linear-gradient(to right, var(--accent), #48a4cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 11pt;
}

.header__link {
    color: white;

    display: block;
    margin: 12px 0;
}

.header__link--active:hover {
    color: var(--accent);
    text-decoration: none;
}

@media (min-width: 992px) {
    .header__link {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.header__heading {
    font-size: 30pt;
}

.header__content {
    padding: 150px 0 210px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24pt;
}

.header__hr {
    border-top: 1px solid var(--accent);
}

.header__text {
    font-size: 14pt;
}

@media (max-width: 992px) {
    .header__content {
        padding: 30px 0;
    }

    .header__heading {
        font-size: 20pt;
    }
}

.about__image {
    height: 290px;
}

@media (max-width: 992px) {
    .about__image {
        height: 240px;

    }
}

.heading-page {
    /*line-height: 0.6;*/
    letter-spacing: 1px;
    font-size: 22pt;
}

.about__heading-margin {
    margin-bottom: 28px;
}

.about__text {
    font-size: 13pt;
}

.video {
    background-image: url("../img/bg-video.png");
}

.inserts-video {
    padding: 202px 0;
}

.video-icon {
    width: 100px; height: 100px;
    background: url('../img/css_sprites.png') -10px -65px;
}

.video-font {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 16pt;
}

.video-icon-margin {
    margin-bottom: 37px;
}

.heading-margin {
    margin-bottom: 16px;
}

.expertise__heading-text {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #2f2d35;
    font-size: 14pt;
    letter-spacing: 1px;
}

.expertise__hr {
    border-top: 2px solid #c6c4c9;
}

.expertise__item {
    padding: 35px 20px;
}

.border-items:nth-child(1) {
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.border-items:nth-child(2) {
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.border-items:nth-child(3) {
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
}

.border-items:nth-child(4) {
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.border-items:nth-child(5) {
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
}

.border-items:nth-child(6) {
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
}

@media (max-width: 992px) {
    .border-items:nth-child(n) {
        border-bottom: 1px solid var(--border);
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .border-items:nth-last-child(-n+1) {
        border: 0;
    }
}

.expertise__item-heading {
    font-size: 14pt;
    color: var(--dark-text);
    font-weight: 800;
}

.expertise__item-heading-margin {
    margin-bottom: 20px;
}

.expertise__item-icon {
    margin-bottom: 45px;
}

.expertise__item-text {
    font-size: 14pt;
    letter-spacing: 1px;
}

.team {
    background-image: url("../img/bg-amazingteam.png");
}

.team__heading-text {
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 1px;
    color: #f9f9f9;
}

.team__hr {
    border-top: 2px solid #655c7f;
}

.team__item {
    /*margin: 0 10px;*/
}

.team__item-margin {
    margin-bottom: 70px;
}

.team__item-text {
    border: 1px solid rgba(215,215,217,.5);
    padding: 20px 0  27px 0;
}

.team__item-title {
    opacity: .7;
    font-size: 13pt;
    margin-bottom: 0;
}

.team__item-heading {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 14pt;
}

.team__footer-text {
    font-size: 14pt;
    letter-spacing: 1px;
    color: #f9f9f9;
    margin-bottom: 29px;
}