@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.cursor-pointer {
    cursor: pointer;
}

.icon {
    width: 16px;
    height: 16px;
    float: left;
    background: url("../img/sprite.png") no-repeat;
}

.button {
    font-family: 'Hammersmith One', sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid #00e0d0;
    color: #00e0d0;
    padding: 10px 20px;
    font-size: 14pt;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button--active:hover {
    color: white;
    background-color: #00e0d0;
}

.inserts {
    padding: 70px 0;
}

@media (max-width: 992px) {
    .inserts {
        padding: 40px 0;
    }
}

.heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    line-height: 22pt;
}

.header {
    background-image: url("../img/bg-header.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__navbar-logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 14px;
    font-size: 30pt;
    background: linear-gradient(to right, #00e0d0, #48a4cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 11pt;
}

.header__link {
    color: white;
    display: block;
    margin: 12px 0;
}

.header__link--active:hover {
    color: #00e0d0;
    text-decoration: none;
}

@media (min-width: 992px) {
    .header__link {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.header__heading {
    font-size: 30pt;
}

.header__content {
    padding: 150px 0 210px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24pt;
}

.header__hr {
    margin-top: 27px;
    margin-bottom: 27px;
    border: 0;
    border-top: 1px solid #00e0d0;
    width: 50px;
}

.header__text {
    font-size: 14pt;
}

@media (max-width: 992px) {
    .header__content {
        padding: 30px 0;
    }

    .header__heading {
        font-size: 20pt;
    }
}

.about__image {
    height: 290px;
}

@media (max-width: 992px) {
    .about__image {
        height: 240px;

    }
}

.heading-page {
    line-height: 0.6;
    font-size: 22pt;
}

.about__heading-margin {
    margin-bottom: 28px;
}

.video {
    height: auto;
    background-image: url("../img/bg-video.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inserts-video {
    padding: 202px 0;
}

.video-icon {
    height: 100px;
    width: 100px;
}

.video-font {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 16pt;
}

.video-icon-margin {
    margin-bottom: 34px;
}